{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}  
           
        <div class="contenedor_mangas">
            <h2 class="titulo_contenedor_manga">Ultimos titulos</h2>
            <div class="manga">
                <img src="{% static 'core/' %}img/manga_covers/20cb_1.jpg" alt="Caratula 1">
                <a href="#">Comprar</a>
            </div>
            <div class="manga">
                <img src="{% static 'core/' %}img/manga_covers/akr-1.jpg" alt="Caratula 1">
                <a href="#">Comprar</a>
            </div>
            <div class="manga">
                <img src="{% static 'core/' %}img/manga_covers/ant-1.jpg" alt="Caratula 1">
                <a href="#">Comprar</a>
            </div>
            <div class="manga">
                <img src="{% static 'core/' %}img/manga_covers/ar-1.jpg" alt="Caratula 1">
                <a href="#">Comprar</a>
            </div>
            <div class="manga">
                <img src="{% static 'core/' %}img/manga_covers/asv-1.jpg" alt="Caratula 1">
                <a href="#">Comprar</a>
            </div>
            <div class="manga">
                <img src="{% static 'core/' %}img/manga_covers/bp-1.jpg" alt="Caratula 1">
                <a href="#">Comprar</a>
            </div>
            <div class="manga">
                <img src="{% static 'core/' %}img/manga_covers/brsk-1.jpg" alt="Caratula 1">
                <a href="#">Comprar</a>
            </div>
            <div class="manga">
                <img src="{% static 'core/' %}img/manga_covers/bt-1.jpg" alt="Caratula 1">
                <a href="#">Comprar</a>
            </div>
        </div>

{% endblock %}

